apiVersion: v1
kind: Service
metadata:
  name: petpulse-network
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  selector:
    app: petpulse-server
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
