apiVersion: apps/v1
kind: Deployment
metadata:
  name: petpulse-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petpulse-server
  template:
    metadata:
      labels:
        app: petpulse-server
    spec:
      containers:
        - name: server
          image: us-east1-docker.pkg.dev/clestiq-petpulse/petpulse-server/petpulse-server:preview-latest
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: petpulse-config
            - secretRef:
                name: petpulse-secrets
          startupProbe:
            httpGet:
              path: /health
              port: 3000
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
